<!DOCTYPE html>
<html>
  <head>
    <title>CozyPlanet</title>
    <%= csrf_meta_tags %>
    <meta name="google-site-verification" content="yv36wULhl_3FWnGy72MJlzijefKDWpgQPLp7iXeum9s" />
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
